Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
Flask-CORS
Flask-WTF
WTForms
python-dotenv
Werkzeug
email-validator
Pillow
geopy
requests
pandas
openpyxl
thefuzz
feedparser
reportlab
gunicorn
psycopg2-binary



